html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.calcite-theme-light {
  --calcite-ui-info: #77bde7;;
  --calcite-ui-brand: #00619b;
  --calcite-ui-icon-color: #00619b;
  --calcite-ui-brand-hover: #00304d;
  --calcite-ui-brand-press: #77bde7;
}

.calcite-theme-dark {
  --calcite-ui-info: #3db8ff;;
  --calcite-ui-brand: #009af2;
  --calcite-ui-icon-color: #009af2;
  --calcite-ui-brand-hover: #0089de;
  --calcite-ui-brand-press: #59d6ff;
}


calcite-radio-group-item[checked],
calcite-button[appearance="solid"] {
  --calcite-ui-icon-color: var(--calcite-ui-text-inverse) !important;
}

[icon="exclamation-mark-triangle-f"] {
  --calcite-ui-icon-color: #d90012;
}

.calcite-panel-content {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;
  overflow-y: auto;
}

calcite-block {
  margin-top: 0;
  margin-bottom: 0;
}

.calcite-block-fill {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;
  overflow-y: auto;
}

.esri-widget,
.esri-widget__heading,
.esri-menu,
.esri-popup__main-container,
.esri-popup__header-container--button:hover,
.esri-popup__pointer-direction {
  background-color: var(--calcite-ui-foreground-1) !important;
  color: var(--calcite-ui-text-2) !important;
}

.esri-button,
.esri-popup__button,
.esri-widget--button {
  background-color: var(--calcite-ui-foreground-1) !important;
  color: var(--calcite-ui-icon-color) !important;
}

.toggle-panel[hidden] {
  display: none;
}

header[slot="header"] {
  z-index: 99;
  padding: 0 1rem 0 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var();
}

.application-title {
  color: var(--calcite-ui-brand);
}

calcite-loader#app-loader {
  align-self: center;
  justify-self: center;
  /*z-index: 1000;*/
  /*top: calc(50vh - 112px) !important;*/
}

.esri-ui-corner calcite-loader {
  pointer-events: none;
  padding: 0;
  right: 15px;
}


calcite-panel > div[slot="header-actions-end"] {
  display: inline-flex;
}

calcite-notice {
  z-index: 101;
}

#center-container {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#view-container {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

#bottom-container {
  height: 100%;
}
